In [0]:
"""
Amadeus Challenge : Data Scientist Position
Author            : Angeloni Julien
Date Creation     : 10/08/2018

Second exercise - Top 10 arrival airports in the world in 2013

Data              : bookings.csv
"""

In [30]:
!pip install GeoBases3K

Requirement already satisfied: GeoBases3K in /usr/local/lib/python3.6/dist-packages (5.0.16)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from GeoBases3K) (3.13)
Requirement already satisfied: colorama in /usr/local/lib/python3.6/dist-packages (from GeoBases3K) (0.3.9)
Requirement already satisfied: argparse in /usr/local/lib/python3.6/dist-packages (from GeoBases3K) (1.4.0)
Requirement already satisfied: termcolor in /usr/local/lib/python3.6/dist-packages (from GeoBases3K) (1.1.0)
Requirement already satisfied: python-geohash in /usr/local/lib/python3.6/dist-packages (from GeoBases3K) (0.8.5)
Requirement already satisfied: python-Levenshtein in /usr/local/lib/python3.6/dist-packages (from GeoBases3K) (0.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-Levenshtein->GeoBases3K) (39.1.0)

In [0]:
# LIBRARIES
import pandas as pd
from google.colab import drive
from GeoBases import GeoBase
import re

In [43]:
# IMPORT FILES
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [0]:
# GLOBAL VARIABLES
BOOKINGS = '/content/gdrive/My Drive/Colab Notebooks/bookings.csv'
GEO_O = GeoBase(data='ori_por', verbose=False)

# WORK USING FUNCTIONS (DEVELOPPED AFTER THE MAIN PART)

In [0]:
#METHOD PART

def get_df_cols(csvfilename,cols,separator):
  """
  Method to get a dataframe from a csv file with specified columns
  
  @csvfilename : the name of the file to convert in dataframe
  @cols        : list of string giving columns name to keep
  @separator   : character used to delimit fields in the csv file
  
  @return      : a dataframe
  """
  
  dataframe = pd.read_csv(BOOKINGS, error_bad_lines=False, encoding='UTF8', sep=separator, usecols=cols)
  
  return dataframe


def get_name(IATA_code):
  """
    Function to return the name of the airport linked to IATA_code
    
    @IATA_code : String object which is a IATA_code
   
    @return    : String object which is the name of the airport
  """
  
  #If IATE CODE exists in GEO_O
  try:
    result = GEO_O.get(IATA_code.replace(" ",""), 'name')
  #Else we just specify that we cannot found the IATA CODE
  except KeyError as e:
    result = "NOT FOUND IATA CODE"
   
  return result
  

def get_airports_arrival_sorted(dataframe):
  """
  Method to print the get arrivals airports in 2013 from searches file
  
  @dataframe : the dataframe containing the data
  
  @return    : a new dataframe
  """
  
  #Created dataframe grouped by 'arr_port' aggregated by sum
  result_dataframe = dataframe.groupby(['arr_port']).sum()
  #Sorted the result in a descending way
  result_dataframe = result_dataframe.sort_values(by=['pax'], ascending=False)
  
  return result_dataframe


def add_airports_name(dataframe):
  """
  Method to add a column in a dataframe containing the full name of airports
  thanks to the IATA CODE
  
  @dataframe : the dataframe to modify
  
  @return    : the dataframe modified
  """
  
  #Reset the index of the dataframe in order to apply a lambda method
  dataframe = dataframe.reset_index()
  
  #Add the column and its values
  dataframe['airport_name'] = dataframe['arr_port'].apply(lambda x: get_name(x))

  return dataframe

def print_top_n_arrival_airport(dataframe,n):
  """
  Method to print the top n of arrival airports in 2013
  
  @dataframe : the preformatted dataframe by columns containing the data
  @n         : the number of airports to show
  """
  
  df = get_airports_arrival_sorted(dataframe)
  df = add_airports_name(df)
  
  print(df.head(n))

In [46]:
#PRINT THE TOP TEN
cols = ["arr_port","pax"]

dataframe = get_df_cols(BOOKINGS,cols,'^')

print_top_n_arrival_airport(dataframe,10)

   arr_port      pax                          airport_name
0  LHR       88809.0               London Heathrow Airport
1  MCO       70930.0         Orlando International Airport
2  LAX       70530.0     Los Angeles International Airport
3  LAS       69630.0       Mc Carran International Airport
4  JFK       66270.0  John F Kennedy International Airport
5  CDG       64490.0             Paris - Charles-de-Gaulle
6  BKK       59460.0                          Suvarnabhumi
7  MIA       58150.0           Miami International Airport
8  SFO       58000.0   San Francisco International Airport
9  DXB       55590.0           Dubai International Airport

# MAIN PART

In [0]:
# DATAFRAME STRUCTURE
  BOOKINGS_DF_STRUCT = pd.read_csv(BOOKINGS, error_bad_lines=False, encoding='UTF8', sep='^', nrows=1)

# Dataframe using suggested columns
BOOKINGS_DF_EX = pd.read_csv(BOOKINGS, error_bad_lines=False, encoding='UTF8', sep='^', usecols=['arr_port','pax'])

In [7]:
BOOKINGS_DF_STRUCT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 38 columns):
act_date               1 non-null object
source                 1 non-null object
pos_ctry               1 non-null object
pos_iata               1 non-null object
pos_oid                1 non-null object
rloc                   1 non-null object
cre_date               1 non-null object
duration               1 non-null int64
distance               1 non-null int64
dep_port               1 non-null object
dep_city               1 non-null object
dep_ctry               1 non-null object
arr_port               1 non-null object
arr_city               1 non-null object
arr_ctry               1 non-null object
lst_port               1 non-null object
lst_city               1 non-null object
lst_ctry               1 non-null object
brd_port               1 non-null object
brd_city               1 non-null object
brd_ctry               1 non-null object
off_port               1 non-null object
off_city               1 non-null object
off_ctry               1 non-null object
mkt_port               1 non-null object
mkt_city               1 non-null object
mkt_ctry               1 non-null object
intl                   1 non-null int64
route                  1 non-null object
carrier                1 non-null object
bkg_class              1 non-null object
cab_class              1 non-null object
brd_time               1 non-null object
off_time               1 non-null object
pax                    1 non-null int64
year                   1 non-null int64
month                  1 non-null int64
oid                    1 non-null object
dtypes: int64(6), object(32)
memory usage: 384.0+ bytes

In [8]:
# CHECKING SELECTED COLUMNS
BOOKINGS_DF_EX.head(10)

   arr_port  pax
0  LHR      -1.0
1  CLT       1.0
2  CLT       1.0
3  SVO       1.0
4  SVO       1.0
5  LGA       1.0
6  LGA       1.0
7  SIN       2.0
8  SIN       2.0
9  SIN       2.0

In [0]:
# CREATE DATAFRAME FROM BOOKINGS_DF_EX GROUPED BY arr_port
BOOKINGS_GROUP_BY_ARR_PORT = BOOKINGS_DF_EX.groupby(['arr_port']).sum()

In [10]:
# CHECKING RESULTS
BOOKINGS_GROUP_BY_ARR_PORT

              pax
arr_port
AAB          30.0
AAE         810.0
AAL         810.0
AAN          20.0
AAQ        1650.0
AAR         500.0
ABA          90.0
ABB          40.0
ABE         880.0
ABI         150.0
ABJ        2600.0
ABK           0.0
ABQ        4290.0
ABR           0.0
ABS         310.0
ABT         300.0
ABV        1950.0
ABX         300.0
ABY          90.0
ABZ        3710.0
ACA         700.0
ACC        3810.0
ACE        1700.0
ACH          20.0
ACI          40.0
ACK         200.0
ACT         180.0
ACV         140.0
ACY         190.0
ADA         980.0
...           ...
ZAZ          50.0
ZBF         110.0
ZBL          90.0
ZCL         150.0
ZCO         490.0
ZDH          60.0
ZFQ          40.0
ZFV         120.0
ZHA           0.0
ZIG          40.0
ZIH         870.0
ZLN           0.0
ZLO         500.0
ZNE        1510.0
ZNZ         970.0
ZOS          70.0
ZQN        1720.0
ZRH       20190.0
ZSA          10.0
ZSE          10.0
ZTH          50.0
ZUH          40.0
ZVE          40.0
ZVJ          20.0
ZVK          20.0
ZWE          30.0
ZWS         620.0
ZYL        1290.0
ZYN          20.0
ZYR        1020.0

[2275 rows x 1 columns]

In [11]:
# SORTED BY PAX
BOOKINGS_GROUP_BY_ARR_PORT.sort_values(by=['pax'], ascending=False)

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0
ORD       53200.0
FCO       45120.0
IST       43850.0
DFW       42420.0
CUN       42000.0
MAD       41410.0
BCN       41200.0
LGA       40712.0
ATL       39780.0
EWR       36890.0
BOS       35840.0
DEL       35680.0
SYD       33690.0
BOM       33440.0
MUC       33180.0
DEN       32630.0
MNL       32400.0
HKG       32020.0
FRA       31970.0
ORY       31800.0
...           ...
HRI         -20.0
VDM         -20.0
LBF         -20.0
YRB         -20.0
XUZ         -20.0
YAY         -20.0
IFN         -20.0
LEN         -20.0
RRG         -20.0
CPQ         -20.0
BAV         -20.0
KSN         -20.0
HDG         -20.0
BER         -20.0
YCU         -20.0
FLA         -20.0
CGD         -30.0
RXS         -30.0
KKJ         -40.0
XNN         -40.0
KUU         -40.0
FLW         -50.0
MUA         -60.0
CXR         -60.0
SDJ         -70.0
MYJ         -80.0
UPG         -90.0
XWG         -90.0
MZV        -350.0
AYQ       -1270.0

[2275 rows x 1 columns]

In [12]:
# PRINT TOP 10 AIRPORT ARRIVALS
BOOKINGS_GROUP_BY_ARR_PORT.sort_values(by=['pax'], ascending=False).head(10)

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0

## INSTALLATION OF GEOBASE

In [0]:
# Trying find airport with geobases

In [45]:
!pip install --upgrade setuptools

Collecting setuptools
  Downloading https://files.pythonhosted.org/packages/96/06/c8ee69628191285ddddffb277bd5abdf769166e7a14b867c2a172f0175b1/setuptools-40.4.3-py2.py3-none-any.whl (569kB)
    100% |████████████████████████████████| 573kB 5.6MB/s
tensorflow 1.11.0 has requirement setuptools<=39.1.0, but you'll have setuptools 40.4.3 which is incompatible.
Installing collected packages: setuptools
  Found existing installation: setuptools 39.1.0
    Uninstalling setuptools-39.1.0:
      Successfully uninstalled setuptools-39.1.0
Successfully installed setuptools-40.4.3

In [47]:
!easy_install -U setuptools

Searching for setuptools
Reading https://pypi.org/simple/setuptools/
Downloading https://files.pythonhosted.org/packages/96/06/c8ee69628191285ddddffb277bd5abdf769166e7a14b867c2a172f0175b1/setuptools-40.4.3-py2.py3-none-any.whl#sha256=ce4137d58b444bac11a31d4e0c1805c69d89e8ed4e91fde1999674ecc2f6f9ff
Best match: setuptools 40.4.3
Processing setuptools-40.4.3-py2.py3-none-any.whl
Installing setuptools-40.4.3-py2.py3-none-any.whl to /usr/local/lib/python3.6/dist-packages
writing requirements to /usr/local/lib/python3.6/dist-packages/setuptools-40.4.3-py3.6.egg/EGG-INFO/requires.txt
Adding setuptools 40.4.3 to easy-install.pth file
Installing easy_install script to /usr/local/bin
Installing easy_install-3.6 script to /usr/local/bin

Installed /usr/local/lib/python3.6/dist-packages/setuptools-40.4.3-py3.6.egg
Processing dependencies for setuptools
Finished processing dependencies for setuptools

In [50]:
!easy_install -U NeoBase

Searching for NeoBase
Reading https://pypi.org/simple/NeoBase/
Downloading https://files.pythonhosted.org/packages/45/00/88a47029daf5e9306143ad08a319c87b618049d9f886a917a27ee7de38f1/NeoBase-0.18.2.tar.gz#sha256=c8460cd0be9dd38e0baf1972ea456ba66692bdf91d24950d675a33b069489332
Best match: NeoBase 0.18.2
Processing NeoBase-0.18.2.tar.gz
Writing /tmp/easy_install-kmg68dt9/NeoBase-0.18.2/setup.cfg
Running NeoBase-0.18.2/setup.py -q bdist_egg --dist-dir /tmp/easy_install-kmg68dt9/NeoBase-0.18.2/egg-dist-tmp-h6v1gjig
creating /usr/local/lib/python3.6/dist-packages/NeoBase-0.18.2-py3.6.egg
Extracting NeoBase-0.18.2-py3.6.egg to /usr/local/lib/python3.6/dist-packages
Adding NeoBase 0.18.2 to easy-install.pth file
Installing NeoBase script to /usr/local/bin

Installed /usr/local/lib/python3.6/dist-packages/NeoBase-0.18.2-py3.6.egg
Processing dependencies for NeoBase
Finished processing dependencies for NeoBase

In [53]:
!easy_install --user -U GeoBases3K

Searching for GeoBases3K
Reading https://pypi.org/simple/GeoBases3K/
Downloading https://files.pythonhosted.org/packages/fb/8a/d216ad4cbf6880fd03efa378f52384c8437cb823b9d754b1017eeda14d03/GeoBases3K-5.0.16.zip#sha256=b1362be47d9b99c2f34cb4a8c349b7cde9dc13a1960d0b0b42713a53a878a2ba
Best match: GeoBases3K 5.0.16
Processing GeoBases3K-5.0.16.zip
Writing /tmp/easy_install-l96v1pgt/GeoBases3K-5.0.16/setup.cfg
Running GeoBases3K-5.0.16/setup.py -q bdist_egg --dist-dir /tmp/easy_install-l96v1pgt/GeoBases3K-5.0.16/egg-dist-tmp-k2nmp_du
/!\ Installing without "['OpenTrepWrapper>=0.6']"
warning: no files found matching '*.rst' under directory 'GeoBases'
error: Setup script exited with error: SandboxViolation: mkdir('/root/.zsh', 511) {}

The package setup script has attempted to modify files on your system
that are not within the EasyInstall build area, and has been aborted.

This package cannot be safely installed by EasyInstall, and may not
support alternate installation locations even if you run its setup
script by hand.  Please inform the package's author and the EasyInstall
maintainers to find out if a fix or workaround is available.

In [1]:
!pip install GeoBases3K

Collecting GeoBases3K
  Downloading https://files.pythonhosted.org/packages/f6/aa/409422515f10dd9e036e57dfa1137439d760165d3a3c9539cc36c7d72030/GeoBases3K-5.0.16.tar.gz (11.1MB)
    100% |████████████████████████████████| 11.1MB 790kB/s
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from GeoBases3K) (3.13)
Collecting python_geohash (from GeoBases3K)
  Downloading https://files.pythonhosted.org/packages/9c/e2/1a3507af7c8f91f8a4975d651d4aeb6a846dfdf74713954186ade4205850/python-geohash-0.8.5.tar.gz
Collecting python_Levenshtein (from GeoBases3K)
  Downloading https://files.pythonhosted.org/packages/42/a9/d1785c85ebf9b7dfacd08938dd028209c34a0ea3b1bcdb895208bd40a67d/python-Levenshtein-0.12.0.tar.gz (48kB)
    100% |████████████████████████████████| 51kB 18.8MB/s
Collecting argparse (from GeoBases3K)
  Downloading https://files.pythonhosted.org/packages/f2/94/3af39d34be01a24a6e65433d19e107099374224905f1e0cc6bbe1fd22a2f/argparse-1.4.0-py2.py3-none-any.whl
Requirement already satisfied: termcolor in /usr/local/lib/python3.6/dist-packages (from GeoBases3K) (1.1.0)
Collecting colorama (from GeoBases3K)
  Downloading https://files.pythonhosted.org/packages/db/c8/7dcf9dbcb22429512708fe3a547f8b6101c0d02137acbd892505aee57adf/colorama-0.3.9-py2.py3-none-any.whl
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python_Levenshtein->GeoBases3K) (39.1.0)
Building wheels for collected packages: GeoBases3K, python-geohash, python-Levenshtein
  Running setup.py bdist_wheel for GeoBases3K ... - \ | / - \ | done
  Stored in directory: /root/.cache/pip/wheels/be/b2/69/49d396c76ca335fc9767171d4e8b3f591aee4b25fec4a2e228
  Running setup.py bdist_wheel for python-geohash ... - \ | / done
  Stored in directory: /root/.cache/pip/wheels/b5/64/5a/6a286481fc7c2a698d2f297d4c90af19946be430b23eba9a33
  Running setup.py bdist_wheel for python-Levenshtein ... - \ | done
  Stored in directory: /root/.cache/pip/wheels/de/c2/93/660fd5f7559049268ad2dc6d81c4e39e9e36518766eaf7e342
Successfully built GeoBases3K python-geohash python-Levenshtein
Installing collected packages: python-geohash, python-Levenshtein, argparse, colorama, GeoBases3K
Successfully installed GeoBases3K-5.0.16 argparse-1.4.0 colorama-0.3.9 python-Levenshtein-0.12.0 python-geohash-0.8.5

In [29]:
from GeoBases import GeoBase

#IMPORT DATA FROM GEOBASE
geo_o = GeoBase(data='ori_por', verbose=False)


def get_name(IATA_code):
  """
    Function to return the name of the airport linked to IATA_code
    
    @IATA_code : String object which is a IATA_code
   
    @return    : String object which is the name of the airport
  """
  try:
    result = geo_o.get(IATA_code.replace(" ",""), 'name')
  except KeyError as e:
    result = "NOT FOUND IATA CODE"
   
  return result
  


BOOKINGS_GROUP_BY_ARR_PORT.columns.values
new_df = BOOKINGS_GROUP_BY_ARR_PORT.reset_index()

new_df['airport_name'] = new_df['arr_port'].apply(lambda x: get_name(x))

new_df

      arr_port      pax                              airport_name
0     AAB          30.0                          Arrabury Airport
1     AAE         810.0                Rabah Bitat Annaba Airport
2     AAL         810.0                           Aalborg Airport
3     AAN          20.0              Al Ain International Airport
4     AAQ        1650.0                             Anapa Airport
5     AAR         500.0                          Tirstrup Airport
6     ABA          90.0              Abakan International Airport
7     ABB          40.0                              RAF Abingdon
8     ABE         880.0       Lehigh Valley International Airport
9     ABI         150.0                  Abilene Regional Airport
10    ABJ        2600.0                                   Abidjan
11    ABK           0.0                       Kabre Dare Military
12    ABQ        4290.0         Albuquerque International Airport
13    ABR           0.0                 Aberdeen Regional Airport
14    ABS         310.0                                Abu Simbel
15    ABT         300.0                                   Al Baha
16    ABV        1950.0      Nnamdi Azikiwe International Airport
17    ABX         300.0                            Albury Airport
18    ABY          90.0        Southwest Georgia Regional Airport
19    ABZ        3710.0                           Aberdeen / Dyce
20    ACA         700.0                     Acapulco / G. Alvarez
21    ACC        3810.0              Kotoka International Airport
22    ACE        1700.0                         Lanzarote Airport
23    ACH          20.0             St. Gallen-Altenrhein Airport
24    ACI          40.0                          Alderney Airport
25    ACK         200.0                Nantucket Memorial Airport
26    ACT         180.0                     Waco Regional Airport
27    ACV         140.0                     Arcata-Eureka Airport
28    ACY         190.0       Atlantic City International Airport
29    ADA         980.0                         Adana / Sakirpasa
...        ...      ...                                       ...
2245  ZAZ          50.0                          Zaragoza Airport
2246  ZBF         110.0                                  Bathurst
2247  ZBL          90.0                                   Biloela
2248  ZCL         150.0                         Zacatecas Airport
2249  ZCO         490.0                                    Temuco
2250  ZDH          60.0                 Basel SBB Railway Station
2251  ZFQ          40.0               Gare de Bordeaux-Saint-Jean
2252  ZFV         120.0            Philadelphia PA US Railway Sta
2253  ZHA           0.0                                 Zhanjiang
2254  ZIG          40.0                                Ziguinchor
2255  ZIH         870.0                        Ixtapa-Zihuatanejo
2256  ZLN           0.0                              Gare du Mans
2257  ZLO         500.0                  Manzanillo International
2258  ZNE        1510.0                            Newman Airport
2259  ZNZ         970.0                        Zanzibar / Kisauni
2260  ZOS          70.0  Cañal Bajo Carlos - Hott Siebert Airport
2261  ZQN        1720.0                        Queenstown Airport
2262  ZRH       20190.0                             Zurich-Kloten
2263  ZSA          10.0                      San Salvador Airport
2264  ZSE          10.0                       Pierrefonds Airport
2265  ZTH          50.0                         Zakinthos Airport
2266  ZUH          40.0                     Zhuhai Sanzao Airport
2267  ZVE          40.0                             Union Station
2268  ZVJ          20.0               Abu Dhabi AE Ek Bus Station
2269  ZVK          20.0                       Savannakhet Airport
2270  ZWE          30.0                Antwerpen-Centraal station
2271  ZWS         620.0            Stuttgart DE Hbf Railway Stati
2272  ZYL        1290.0                                    Sylhet
2273  ZYN          20.0                     Nîmes Railway Station
2274  ZYR        1020.0             Brussels BE Brussels Midi Stn

[2275 rows x 3 columns]